[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "repo_target"]
	path = repo_target
	url = git@github.com:wpumacay/rl_algorithms.git
